<h1>Calls</h1>

<%= form_for :call do |f| %>
    Serial Number: <%= f.text_field :serial_number %><br />
    Description: <%= f.text_field :description %><br />
    <%= f.hidden_field :status, :value => "open" %>
    <%= f.hidden_field :logged_by, :value => current_user.id %>
    <%= submit_tag("Submit") %>

<% end %>

