<h1>View Printers</h1>

<div class="text-center">
  <p><%= page_entries_info @printers %></p>
  <%= paginate @printers.per_page (10) %><BR>

</div>

 <table class="table table-bordered">
  <tr>

    <th>Printer ID</th>
    <th>Serial Number</th>
    <th>Asset Tag</th>
    <th>Printer Name</th>
    <th>Model</th>
    <th>Printer Location</th>
    <th>IP Address</th>

    <% @printers.each do |printer| %>

       <tr>
         <td><%= printer.id %></td>
         <td><%= printer.serial_number %></td>
         <td><%= printer.asset_tag %></td>
         <td><%= printer.printer_name %></td>
         <td><%= printer.model %></td>
         <td><%= printer.printer_location %></td>
         <td><%= printer.ip_address %></td>

       </tr>


   <% end %>

  </table>








